<h1>Add a new lap time</h1>
<%= simple_form_for @lap, url: user_vehicle_laps_path do |f| %>
  <%= f.input :lap_time %> 
  <%= f.input :track_id %> 
  <%= f.input :date %> 
  <%= f.submit "Add a New Lap Time", class: 'btn btn-primary' %>
<% end %>