<h1>User's Cars</h1>
<%# <h1><%= @vehicle.inspect %></h1> 

<ul>
  <% @vehicle.each do |vehicle| %>
    <li><%= vehicle.year %></li>
    <li><%= vehicle.make %></li>
    <li><%= vehicle.model %></li>
    <%= link_to 'View Details', user_vehicle_path(vehicle.user_id ,vehicle.id), class: 'btn btn-primary' %>
    <br>
  <% end %>
</ul>

<% if @renderUserAdminButtons %>
  <%= link_to 'Add a New Vehicle', new_user_vehicle_path(@user), class: 'btn btn-primary' %>
<% end %>

